<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ThankYouActivity"
            android:exported="false"
            android:label="@string/title_activity_thank_you"
            android:theme="@style/Theme.ReturnPals" />
        <activity
            android:name=".ThankYou"
            android:exported="false"
            android:label="@string/title_activity_thank_you"
            android:theme="@style/Theme.ReturnPals" />
    </application>

</manifest>